@tailwind base;
@tailwind components;
@tailwind utilities;

.resume-overlay {
  position: fixed;
  left: 30%;
  right: 30%;
  top: 30%;
  height: 70vh; /* Set height as needed */
  z-index: 1000; /* Adjust the z-index based on your needs */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {display:none;}

.resume-overlay button {
  margin-top: 20px; /* Adjust the margin as needed */
}

  body{
    font-family: 'Roboto', sans-serif;
    background:#17181f;
    /* background: radial-gradient(
      circle at 150% 0,
      #182b42 0,
      #fef2e3 100%
    ); */
    /* color:var(--white); */
  
  }
  @font-face {
    font-family: "Fonarto";
    src: url("./assets/Fonarto.ttf");
  }

  @font-face {
    font-family: "WorkSans-Light";
    src: url("./assets/WorkSans-Light.ttf");
  }

  @font-face {
    font-family: "WorkSans-Medium";
    src: url("./assets/WorkSans-Medium.ttf");
  }

  @font-face {
    font-family: "WorkSans-Thin";
    src: url("./assets/WorkSans-Thin.ttf");
  }

  @font-face {
    font-family: "Josefin";
    src: url("./assets/JosefinSans-VariableFont_wght.ttf");
  }